.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.contact-us{
  background-color: white;
  padding: 2em 2em 2em 2em;
  padding-top: 3em;
  box-sizing: border-box;

  width: 60%;

  box-shadow: 5px 5px 5px gray, -2px -2px 5px gray;


  position: absolute;
  top: -4em;
  right: 20%;
}

.contact-us{
  color: seagreen;
}

.contact_us_container{
  margin-top: -6em;
  width: 100%;
  background-color: seagreen;
  background-image: url("../../assets/tesselate_grey1.png");

  position: relative;
  height: 450px;
}

.form-group{
  padding-top: 1em;
}

h1{
  text-align: center;
}

.enquiry_details{
  width: 80%;
  height: 20px;
  padding-bottom: 100px;
}

.form{
  width: 80%;
  margin: auto;
}

.btn{
  cursor: pointer;
  border: black 2px;
  border-radius: 1px;
  margin-top: 1em;
  padding: 5px 5px 5px 5px;
  font-size: 1.5em;
  box-shadow: 2px 2px 5px gray;
  border-radius: 5px;
}

.phone_icon{
  background-image: url("../../assets/phoneicon_white.png");
  background-size: 100% 100%;
  width: 3em;
  height: 3em;
  margin-right: 0.5em;

}
.email_icon{
  background-image: url("../../assets/emailicon_white.png");
  background-size: 100% 100%;
  width: 3em;
  height: 3em;
  margin-right: 0.5em;
}

.white{
  color: white;
  font-size: 2em;
}

.floating{
  position: absolute;
  top: -370px;
}

.phone{
  left: 25%;
}
.email{
  right: 25%;
}

.center{
  margin: auto;
}

.email_link{
  text-decoration: none;
  color:whitesmoke;
}

.footer{
  background-image: url("../../assets/Website_photo_Home page.jpg");
  background-size: 100% 250%;
  background-position-y: -450px;
}
