<div class = "contact_us_container">

  <div class = "email floating white">
    <div class = "email_icon center"></div>
    <a class = "email_link" href="mailto:reidstrees@gmail.com?Subject=Tree%20Work"><p>reidstrees@gmail.com</p></a>
  </div>
  <div class = "phone floating white">
    <div class = "phone_icon center"></div>
    <p>021 0241 7321</p>

  </div>

  <div class="contact-us">
    <h1>Fill Out the Form to Contact the Team at Reids Trees!</h1>
    <form #contactForm = "ngForm" class = "form">

      <div class = "form-group">
        <label for = "name">Name</label><br>
        <input type = "text" class = "form-control" id="name"
               required
               [(ngModel)]="model.name" name = "name"
               #spy
        >
        <br>
        <label for = "phone">Phone</label><br>
        <input type = "text" class = "form-control" id="phone"
               required
               [(ngModel)]="model.phone" name = "phone"
               #spy
        >
        <br>
        <label for = "email">Email</label><br>
        <input type = "text" class = "form-control" id="email"
               required
               [(ngModel)]="model.email" name = "email"
               #spy
        >

      </div>

      <div class = "form-group">
        <label for = "input">Enquiry Details</label><br>
        <textarea type = "text" class="form-control enquiry_details" id="input"
               required
                  rows="4"
                  cols="50"
        ></textarea>
      </div>

      <button  type = "submit" class="btn btn-succes button" (click)="onSubmit();" >Submit</button>
      <p>{{message}}</p>
      <!--<br>TODO: remove this: {{spy.className}}-->
    </form>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
