<div class = "contact_us_container">
  <div class="contact-us">
    <h1>Contact Us...</h1>
    <form #contactForm = "ngForm" class = "form">

      <div class = "form-group">
        <label for = "name">Name</label><br>
        <input type = "text" class = "form-control" id="name"
               required
               [(ngModel)]="model.name" name = "name"
               #spy
        >

      </div>

      <div class = "form-group">
        <label for = "input">Enquiry Details</label><br>
        <input type = "text" class="form-control enquiry_details" id="input"
               required
               [(ngModel)]="model.alterEgo" name = "enquiry"
        >
      </div>

      <button  type = "submit" class="btn btn-succes button" (click)="onSubmit();" >Submit</button>
      <p>{{message}}</p>
      <!--<br>TODO: remove this: {{spy.className}}-->
    </form>
  </div>
</div>
