

<div class = "menu_wrapper">

  <div class = "logo_container">

    <div class="angled_div_one"></div>
    <div class = "angled_div_two"></div>
    <div class = "angled_div_three"></div>

    <div class = "logo" routerLink="/" routerLinkActive="active"></div>

  </div>

  <div class="links_container">
    <div class = "link_padder"></div>
    <button class="link" routerLink="/services" routerLinkActive="active"><p>SERVICES</p></button>
    <button class="link" routerLink="/contact" routerLinkActive="active"><p>CONTACT US</p></button>
    <button class="link" routerLink="/testimonials" routerLinkActive="active"><p>TESTIMONIALS</p></button>

  </div>
  <router-outlet></router-outlet>


</div>
