<div class = "entire_app">
<div class = "wrapper">
  <div class = background_image_menu><div class = "background_overlay"></div></div>
  <app-menu></app-menu>



</div>
<div class = "top_bar">
  <div class = "message">
  Contact Reids Trees!
  </div>
  <div class = "facebook">
    <a class = "facebook_icon" href = "https://www.facebook.com/reidstrees/" ></a>
  </div>
  <div class = "phone">
    <div class = "phone_icon" ></div>
    021 0241 7321
  </div>
  <div class = "email">
    <div class = "email_icon"></div>
    <a class = "email_link" href="mailto:reidstrees@gmail.com?Subject=Tree%20Work">reidstrees@gmail.com</a>
  </div>
</div>
</div>
