.background_image_menu{
  width: 100%;

  background-image: url("../assets/Website_photo_Home page.jpg");
  background-size: 100% 150%;
  background-position: 0px -200px;
}

.background_overlay{
  width: 100%;
  padding-bottom: 750px;
  background-color: rgba(255, 255, 255, 0.4);
}

.top_bar{
  position: absolute;
  top: 0.5em;

  right: 20px;
  z-index: 20;
  display: inline-flex;

}

.phone{
  display: inline-flex;
  padding-left: 2em;
}
.email{
  display: inline-flex;
  padding-left: 2em;
}

.phone_icon{
  background-image: url("../assets/phoneicon.png");
  background-size: 100% 100%;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}
.email_icon{
  background-image: url("../assets/emailicon.png");
  background-size: 100% 100%;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.email_link{
  text-decoration: none;
  color: seagreen;
}
