

h2{
  font-size: 1.5em;

  font-weight: 200;


}

p{
  font-size: 1em;

}

.bigger{
  font-size: 1.5em;
}

.left_column_services{
  width: 100%;
}

.right_column_service{
}

.container{

}

.columns_container{
  display: inline-flex;
}

.job_containers{
  display: inline-flex;
  width: 100%;
}



.services_content_container{
  text-align: left;
  width: 100%;

}

.service_intro{
  padding-top: 3em;
  padding-bottom: 2.5em;
  font-size: 1.5em;
  margin-left: 6em;
  margin-right: 6em;
}



.scroll_to{
  position: absolute;
  height: 740px;
  width: 100%;
}

#removal{
  top: 0px;
}

#pruning{
  top: calc(740px);
}

#sectionclearing{
  top: calc(740px * 2);
}

#contractclimbing{
  top: calc(180px + 740px * 3);
}

#trimming{
  top: calc(180px + 740px * 4);
}

.jobs_and_image{
  background-image: url("../../assets/service_photos/Website_photo_Back_drop_pruning.jpg");
  background-size: cover;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
}

.all_jobs_container{
  width: 70%;
  margin-left: 7em;
  padding-left: 1.5em;
  padding-right: 2em;

  background-color: white;
}
