
<div class = "container">
  <div class = "columns_container">
    <div class="left_column_services">

      <div class = "service_intro">

        Reid's Trees offers a variety of services all of which are delivered to the highest standard. Feel free to contact Reid at any time to inquire further. These services include:
      </div>
      <div class = "jobs_and_image">
        <div class = "all_jobs_container">
          <div *ngFor="let Service of services" class="job_containers" id = "{{Service.title}}">
            <div
              class = "service_image {{Service.id}}_image"
              [ngStyle] = "{ 'background-image' :'url(../../assets/service_photos/' + Service.image + ')'}"
            >

            </div>
            <div class = "services_content_container">
              <h2 class = green>{{Service.title}}</h2>
              <p>{{Service.short_desc}}</p>
            </div>
           <!-- <div
              class = "service_image {{Service.id}}_image"
              [ngStyle] = "{ 'background-image' :'url(../../assets/service_photos/' + Service.image + ')'}"
            >

            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class = "right_column_service">
      <div class = "service_image"></div>
    </div>
  </div>
  <h1 class = contact_info_header>For More Information Contact ReidsTrees!</h1>
  <br>
  <br>
  <div class="contact_methods">
    <div class = "email floating white">
      <div class = "email_icon center"></div>
      <a class = "email_link" href="mailto:reidstrees@gmail.com?Subject=Tree%20Work"><p>reidstrees@gmail.com</p></a>
    </div>
    <div class = "phone floating white">
      <div class = "phone_icon center"></div>
      <p>021 0241 7321</p>

    </div>
  </div>
  <div class = footer>
    <app-footer>

    </app-footer>
  </div>

<!--
  <div id = "removal" class = "scroll_to"></div>
  <div id = "pruning" class = "scroll_to"></div>
  <div id = "sectionclearing" class = "scroll_to"></div>
  <div id = "contractclimbing" class = "scroll_to"></div>
  <div id = "trimming" class = "scroll_to"></div>
  -->
</div>



