

h2{
  font-size: 1.5em;

  font-weight: 200;


}

p{
  font-size: 1em;

}

.bigger{
  font-size: 1.5em;
}

.left_column_services{
  width: 70%;
  box-sizing: border-box;
  padding-left: 10%;
}

.right_column_service{
  width:30%;
}

.container{

}

.columns_container{
  display: inline-flex;
}

.job_containers{
  display: inline-flex;
  width: 100%;
}



.services_content_container{
  text-align: left;
  width: 100%;

}

.service_intro{
  padding-top: 3em;
  padding-bottom: 2.5em;
  font-size: 1.5em;
}

.service_image{

  width: 30%;
  padding-bottom: 10%;
  vertical-align: top;
  margin-top: 1.83em;
  margin-bottom: 1.83em;
  background-size: 100% 100%;
}

.scroll_to{
  position: absolute;
  height: 740px;
  width: 100%;
}

#removal{
  top: 0px;
}

#pruning{
  top: calc(740px);
}

#sectionclearing{
  top: calc(740px * 2);
}

#contractclimbing{
  top: calc(180px + 740px * 3);
}

#trimming{
  top: calc(180px + 740px * 4);
}
