

h2{
  font-size: 1.5em;

  font-weight: 200;


}

p{
  font-size: 1em;

}

.bigger{
  font-size: 1.5em;
}

.left_column_services{
  width: 100%;
}

.right_column_service{
}

.container{

}

.columns_container{
  display: inline-flex;
}

.job_containers{

  box-sizing: border-box;
  width: 31%;
  margin: 1% 1% 15% 1%;
  background-color: white;
  min-height: 70%;
  border: solid seagreen 2px;
  padding: 0% 3% 3% 3%;
}



.services_content_container{
  display: block;
  text-align: left;
  width: 100%;

}

.services_content_container h2{
  text-align: center;

}

.services_content_container p{

}

.service_intro{
  padding-top: 5em;
  padding-bottom: 2.5em;
  font-size: 1.5em;
  width: 80%;
  margin: auto;
}



.scroll_to{
  position: absolute;
  height: 740px;
  width: 100%;
}

#removal{
  top: 0px;
}

#pruning{
  top: calc(740px);
}

#sectionclearing{
  top: calc(740px * 2);
}

#contractclimbing{
  top: calc(180px + 740px * 3);
}

#trimming{
  top: calc(180px + 740px * 4);
}

.jobs_and_image{

  background-size: cover;
  width: 80%;
  margin: auto;
  padding-top: 5em;

}

.all_jobs_container{
  margin-top: 6em;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  background-color: transparent;
}

.service_image{
  display: block;
  width: 100%;
  margin: auto;
  padding-bottom: 100%;
  background-size: cover;
  background-color: white;
  border-radius: 50%;
  border: solid seagreen 2px;
  /*controls the verticality of the image circle*/
  margin-top: -50%;
}

.service_intro{
  color: seagreen;
}

.contact_methods{
  display: inline-flex;

  width: 60%;
  margin-left: 17.5%;
}

.phone_icon{
  background-image: url("../../assets/phoneicon_seagreen.png");
  background-size: 100% 100%;
  width: 3em;
  height: 3em;
  margin-right: 0.5em;

}
.email_icon{
  background-image: url("../../assets/emailicon_seagreen.png");
  background-size: 100% 100%;
  width: 3em;
  height: 3em;
  margin-right: 0.5em;
}

.white{
  color: seagreen;
  font-size: 2em;
}


.phone{
  margin: auto;
}
.email{
  margin: auto;
}

.center{
  margin: auto;
}

.email_link{
  text-decoration: none;
  color:seagreen;
}

.contact_info_header{
  text-align: center;
  color: seagreen;
}

@media (max-width: 700px){

  .left_column_services{
    width:100vw;
  }

  .service_intro{
    text-align: center;
  }

  .job_containers{
    width:  100%;
    margin-bottom: 10em;
  }

  .contact_info_header{
    width: 80vw;
    margin-left: 10vw;
  }

  .contact_methods{
    width: 100vw;
    margin-left: 0;
  }

  .email.floating{
    width: 100vw;
    display: block;
  }

  .email_link p{
    text-align: center;
    font-size: 0.6em;

  }

  .phone p{
    font-size: 0.6em;
    text-align: center;
    margin: auto;
  }

  .contact_methods{
    display: block;
  }

}
