.picture{
  width:15%;
  padding-bottom: 15%;
  border-radius: 50%;

  background-size: 120% 100%;
}

.testimonial:nth-child(even) .picture{
  float: right;
  margin-right: -7.5%;
}

.testimonial:nth-child(odd) .picture{
  float: left;
  margin-left: -7.5%;
}

.testimonial:nth-child(odd){
  background-color: white;
}

.testimonial:nth-child(even){
  background-color: white;
}

.testimonial{
  width: 70%;
  margin-left: 15%;
  margin-top: 3em;
}


.text_box{
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 1em;
  padding-bottom: 1em;
}

h1{
  text-align: center;
  color: seagreen;
}

h2{
  color: seagreen;
}

.container{
  width: 100%;
  background-color: transparent;
}

@media (max-width: 700px) {
  .testimonial{
    padding-bottom: 2em;
    margin-top: 50%;
  }

  .testimonial:nth-child(even) .picture{
    float: right;
    margin-right: 0%;
  }

  .testimonial:nth-child(odd) .picture{
    float: left;
    margin-left: 0%;
  }

  .picture{
    width: 100%;
    padding-bottom: 100%;
    margin-top: -50%;
    margin-left: 0;
    margin-right: 0;
  }

  h2{
    text-align: center;
  }
}
