<div class = "container">

  <h1 style="color: seagreen">Read what some of the great people we have worked with have to say about us</h1>

  <div *ngFor="let testimonial of testimonials" class = "testimonial">
    <div class = "picture, {{testimonial.name}}"
         [ngStyle] = "{ 'background-image' :'url(../../assets/testimonial_photos/' + testimonial.image + ')'}"
    >
    </div>
    <div class = "text_box">
      <h2>{{testimonial.name}}</h2>
      <p>{{testimonial.content}}</p>
    </div>
    <div style="clear: both">
    </div>

  </div>


<div class = footer>
  <app-footer>

  </app-footer>
</div>
</div>
