/* You can add global styles to this file, and also import other style files */
html, body{
  margin: 0;
  font-family: Arial;
  max-width: 100%;
  overflow-x: hidden;
}

button{
  padding: 0;
  background-color: transparent;
  border-style: none;
  outline: none;
}

button:active {
  outline: none;
}

button p:hover {
  color: white;
}

button p{
  padding-top: 0;
  padding-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  text-align: left;
}

.container{
  position: absolute;
  top: 180px;
  background-color: white;
}

/*font settings*/
  .green{
  color:seagreen;
  }

  .italics{
    font-style: italic;
  }

  .underline{
    text-decoration: underline seagreen;
  }



