html {
  background-color: seagreen;
  background-image: url("../../assets/emailicon.png");
  background-size: 100% 100%;
}

.home_container{
  position: absolute;
  top: 170px;
  width: 100%;
}

.slogan_wrapper{
  height: 250px;
}

.slogan{
  position: relative;
  top:90px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: rgba(255, 255, 255, 0.2);

  width: 100%;
  margin: auto;
  text-align: center;

  color: ghostwhite;
  font-size: 4em;
  font-weight: 100;
  font-family: Arial;
  letter-spacing: 3px;

  transform: scale(1,2);
  -webkit-transform: scale(1,2);
  -moz-transform: scale(1,2);
  -ms-transform: scale(1,2);
  -o-transform: scale(1,2);
}

.slogan p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  position: relative;
}

.scroll_links_container{
  color: white;
  width: 50%;
  margin: auto;

}

.qualifications_link,.we_care_link{
  width: 200px;
  height: 180px;
  display: inline-flex;
  vertical-align: bottom;
  margin: auto;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-size: 1.3em;
}

.we_care_link{
  float: right;
}

.we_care_pic {
  background-image: url("../../assets/lovetrees_white.png");
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
}

.qual_insure_pic {
  background-image: url("../../assets/insurance_white.png");
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
}

.svg_triangle{
  vertical-align: bottom;
  position: absolute;
  left: 70px;
  bottom: 0;
  transition: 1s;
}

.qualifications_link:hover, .we_care_link:hover{
  transform: scale(1.2);
}

.qualifications{
  margin-left: 10%;
  margin-right: 10%;
  width: 30%;
  text-align: center;
}

.insurance{
  margin-left: 10%;
  margin-right: 10%;
  width: 30%;
  text-align: center;
  float: right;
}

.qual_container{
  padding: 5em 0 7em 0;
  display: inline-flex;
  width: 80%;
  position: fixed;
  top: 100px;
  left: 10%;
  background-color: seagreen;
  color: white;
  font-size: 1.3em;
  border-radius: 25px;
}

.image{
  width:20%;
  margin: auto;
  padding-bottom: 20%;
  background-size: 100% 100%;
}

.insurance_image{
  background-image: url("../../assets/insurance_white.png");
}

.qual_image{
  background-image: url("../../assets/cert_white.png");
}

.slogan_wrapper{
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 700px) {
  .slogan_wrapper{
    height: 340px;
  }
}

